:root {
  --clr-neon: rgb(0, 132, 255);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; user-select: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #000;
  font-family: 'Playfair Display', serif;
  color: var(--clr-neon);
  padding-right: 10rem;
}


.nav { 
  position: fixed; margin-bottom: 20px; width: 100%; 
  background-color: black;
  display: flex; flex-wrap: wrap; flex-direction: row; z-index: 1; 
}

.ul { margin: 2% 0% 0% 22%; display: flex; flex-wrap: wrap; flex-direction: row; float: left; }
li { list-style-type: none; margin-left: 1.4rem; margin-bottom: 2rem; color: #fff; font-size: 2em; padding-right: 0.5rem; }
.li a{ 
  text-decoration: none; font-size: 15pt; font-family: 'KoHo', sans-serif; 
  align-self: center; padding: 0.5em 1em;
  border: #fff 0.05em solid; border-radius: 12px; }
/***************************************************************************/
.li a.active{ color: #000000; background-color: #FFFFFF; }
.li a:not(.active) { color: #4DA8FD; border: 2px solid #B3BEF8; }

.li a:hover:not(.active) { color: #000000; background-color: #FFFFFF; }
/***************************************************************************/








*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    text-rendering: optimizeLegibility;
    font-size: 62.5%;
    display: flex;
    flex-wrap: wrap;
}

body{
    max-width: 100;
    overflow-x: hidden;
    margin:0;
    padding: 0;
 
}
.description{
    margin-top:-3%;
    width:100%;
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-align: justify;
    padding-left: 8.0rem;
    padding-right: 8.0rem;
    margin-bottom: 4.0rem;
}

p span{
    font-family: Cinzel;
    font-size: 3.5rem;
}
.glow2{
    text-align: center;
    margin-left: 10%;
    margin-top: 25vh;
    margin-right: 10%;
    padding-left: 8.0rem;
    padding-right: 8.0rem;
    margin-bottom: 2.0rem;
    font-family: Railway;
    font-size: 4em;
    color: #67FFD0 ;
    font-weight: 70;
    background: linear-gradient(180deg, #CCC,  #FF5858, #C4018E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.neon-button {
  font-size: 3rem;
  font-family: Cinzel;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}
 /*for shadow*/
.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.4em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  background: var(--clr-neon);
  color: #FFBCF4;
  text-shadow:none ;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
